.mainContainerCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.productCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 78%;
  font-size: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--grey-texts);
}

.productImage {
  width: 4rem;
}

.productButtonEliminar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 500ms;

  &:hover {
    background-color: var(--hover-buttons);
    padding: 0.5rem;
  }
}
.productButtonQuantity {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 500ms;

  &:hover {
    background-color: var(--hover-buttons);
    padding: 0.5rem;
  }
}
.productButtonQuantity > img,
.productButtonEliminar > img {
  width: 1rem;

  &:hover {
    filter: invert(1);
  }
}

.productText {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
}

.titleContainer {
  align-self: flex-start;
  margin-left: 6rem;
  font-size: 0.7rem;
}

.titleContainer > h2 {
  font-weight: 800;
}

.quantityContainer {
  display: flex;
  align-items: center;
}

.SubTotalContainer {
  align-self: flex-end;
  width: 29%;
}

.totalContainer {
  align-self: flex-end;
  width: 23%;
}
.totalContainer > p {
  font-weight: 800;
}

.buttonContainer {
  align-self: flex-end;
  margin-right: 7rem;
  margin-bottom: 1rem;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.7rem;
  border-top: 1px solid var(--grey-texts);
  padding: 1rem;
}

.formContainer :nth-child(1) {
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--black-titles);
  padding: 0.8em;
  font-size: 0.7rem;
}

.link {
  text-decoration: none;
  color: var(--black-titles);

  &&:hover {
    text-decoration: underline;
  }
}
