.linksContainer {
  list-style: none;
  position: absolute;
  top: 100px;
  left: -400px;
  background: #fff;
  padding: 0.5rem;
  width: 8rem;
}

.linksContainer > li {
  text-decoration: none;
  margin-bottom: 10px;
}

li > a {
  text-decoration: none;
  color: #000;
}

.active {
  display: block;
  position: absolute;
  top: 110px;
  left: 1%;
  transition: 500ms ease;
}
